
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>STLogin</title>
</head>
<body>
    <div> 
        <p>学生与教师登陆界面</p>
    </div>
</body>
</html>
