
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>班级信息</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/MyWorkPlace/ShowClassInfo.css"/>
    
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/MyAdd/show-classes-message.js" type="text/javascript"></script>

</head>

<body>
<h2>班级信息</h2>
<div id="div">
    <div>

        <button id="query" name="btn" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>查询
        </button>
        <input id="inputText" type="text"/>
        <button type="button" class="btn btn-primary" id="addBtn">
            <span class="glyphicon glyphicon-plus"></span>添加
        </button>

        <button type="button" class="btn btn-primary" id="alter">
            <span class="glyphicon glyphicon-edit"></span>修改
        </button>

        <button type="button" class="btn btn-primary" id="del" >
            <span class="glyphicon glyphicon-trash"></span>删除
        </button>
       @* <a href=@Url.Action("CreateClasses", "Home")>添加班级</a>*@
    </div>

    <table id="tab">

        <tr >
            <td>班级ID</td>
            <td>专业号</td>
            <td>班级人数</td>
            <td>班级名</td>
            <td>毕业年份</td>
            <td></td>
        </tr>

    </table>
    
</div>
    
    
</body>
</html>












