
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生主页Index</title>
</head>
<body>
    <div> 
        <p>学生主页</p>
    </div>
</body>
</html>
