body {
    background: #00ced1;
}
h1,   
h2,   
strong {   
  color: #333;
    text-align: center;   
}
h2 {   
  margin-top: 1em;   
  padding-top: 1em;   
}

#div {
   /* margin: 5% 5% 5% 5%;*/
    width: 800px;
    padding: 5% 5%;
    margin:0 auto;  
}

label {
    width: 80px;
    height: 20px;
    display:inline-block;
    /*display:inline-block用于设置标签的宽度*/
}

#tab,tr,th,td{
  border: 1px solid blue;
}

#tab{
  border-collapse:collapse; /*//设置单边框*/
}

td {
    width: 120px;
    height: 30px;
    text-align:center;
}

a {
    text-decoration: none;
    
    color: #8b4513;
    /*margin-left: 50%;*/
}

#addBtn {
    margin-left: 33%;
}

#inputText {
    border-radius: 5%;
    background-color: #20b2aa;
}


