
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImportExcelFile</title>
</head>
<body>
    
    <form action="ImportExcel" method="post" enctype="multipart/form-data">
        <input type="file" name="excelFile" id="excelFile" value="请选择excel文件" />
        <input type="submit" value="提交" />

    </form>

</body>
</html>
