
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统管理员Index</title>
</head>
<body>
    <div>
        <p>系统管理员Index页面</p>
        <p>@ViewBag.data</p>
    </div>
</body>
</html>
